#calendar {
    max-width: 100%;
    margin: 0 auto;
}

.fc-view-container {
    background-color: #333;
}

td.fc-widget-content {
    border: 1px solid #777 !important;
}

.fc-widget-header {
    color: white;
}

td.fc-today {
    background-color: #555 !important;
}

.fc-list-heading {
    background: none !important;
}

.fc-widget-header {
    background: none !important;
}

.fc-list-item {
    color: white;
    background-color: #555;
}

.fc-unthemed .fc-list-item:hover td {
    background-color: #666;
}

.fc-time {
    color: lightgray;
}

.fc-center {
    color: white;
}